@font-face {
    font-family: 'Marcellus SC';
    src: url('~@/assets/fonts/MarcellusSC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSans';
    src: url('~@/assets/fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Courgette';
    src: url('~@/assets/fonts/Courgette-Regular.ttf') format('truetype');
}